@{
    ViewData["Title"] = "Movie List"; // в layout @ViewData["Title"] - Movie App , тогда выведет Movie List-Movie App

}
<!-- Основной макет реализован в Views/Shared/_Layout.cshtml-->

    <h2>My Movie List</h2>
<p>Hello from our View</p>
